config
dbt_project/logs
dbt_project/target
logs
pg_data
pgadmin_data
terraform/setup.sh
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
dbt_profile
.env
key.json
